@font-face {
  font-family: "Colville-Bold";
  src: url("../fonts/Colville-Bold.woff2") format("woff2"), url("../fonts/Colville-Bold.woff") format("woff");
}
@font-face {
  font-family: "Colville-Light";
  src: url("../fonts/Colville-Light.woff2") format("woff2"), url("../fonts/Colville-Light.woff") format("woff");
}
@font-face {
  font-family: "Colville-Medium";
  src: url("../fonts/Colville-Medium.woff2") format("woff2"), url("../fonts/Colville-Medium.woff") format("woff");
}
@font-face {
  font-family: "Colville-Regular";
  src: url("../fonts/Colville-Regular.woff2") format("woff2"), url("../fonts/Colville-Regular.woff") format("woff");
}
@font-face {
  font-family: "FuturaPT-Book";
  src: url("../fonts/FuturaPT-Book.woff") format("woff");
}
@font-face {
  font-family: "FuturaPTCond-Book";
  src: url("../fonts/FuturaPTCond-Book.woff") format("woff");
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'FuturaPT-Book', 'Arial', sans-serif;
  font-size: 16px;
  line-height: calc(16px * 1.2);
  color: #606060;
  font-style: normal;
  background-color: #f5f5f5;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: block;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-image: url('../img/background-image-teacher.png');
  background-position: 100% 36%;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    background-image: url('../img/background-image-desktop.png'), url('../img/background-image-desktop-2.png');
    background-position: 100% 0%,
      0% 1260px;
  }
}
.page-header {
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-header__logo {
  position: relative;
  display: block;
  width: 320px;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  box-shadow: 0 1px 0 0 #d9d9d9, 0 3px 0 0 #f2f2f2;
}
.page-header__logo::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
  background-image: url('../img/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1199px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--nojs .main-nav__list {
    display: block;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .page-header {
    padding: 25px 125px 0px 125px;
    flex-direction: row;
    justify-content: space-between;
  }
  .page-header__logo {
    width: auto;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    box-shadow: none;
  }
  .page-header__logo::before {
    width: 50px;
    height: 50px;
    top: 5px;
    left: 0;
  }
}
.main-nav {
  position: relative;
  width: 320px;
  margin: 0;
  padding: 0;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  width: auto;
  list-style: none;
}
.main-nav__item {
  margin: 0;
  padding: 0;
}
.main-nav__item a {
  display: block;
  width: auto;
  margin: 0;
  padding: 25px 20px;
  color: #757575;
  text-decoration: none;
  font-family: 'Colville-Light', sans-serif;
  font-size: 24px;
  line-height: calc(24px * 1.2);
  text-align: center;
  box-shadow: 0 1px 0 0 #d9d9d9, 0 3px 0 0 #f2f2f2;
}
.main-nav__toggle {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  right: 30px;
  top: -50px;
  z-index: 2;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 24px;
  height: 2px;
  background-color: #757575;
  box-shadow: 0 6px 0 0 #757575, 0 12px 0 0 #757575;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 23px;
  height: 3px;
  background-color: #757575;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
@media (min-width: 1200px) {
  .main-nav {
    width: auto;
  }
  .main-nav__list {
    display: flex;
  }
  .main-nav__item a {
    width: auto;
    font-family: 'Colville-Regular', sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #051431;
    box-shadow: none;
  }
  .main-nav__toggle {
    display: none;
  }
}
.hello-screen {
  margin: 0;
  padding: 0;
  min-height: 482px;
  background-image: url('../img/background-image-mobile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hello-screen__heading {
  margin: 0;
  padding: 0;
  padding-top: 55px;
  font-family: 'Colville-Bold', sans-serif;
  font-size: 48px;
  line-height: calc(48px * 1.2);
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 0 #051431;
}
.hello-screen__slogan {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  font-family: 'FuturaPTCond-Book', sans-serif;
  font-size: 30px;
  line-height: calc(30px * 1.2);
  color: #ffffff;
  text-align: center;
}
.hello-screen__button {
  width: 240px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px 30px;
  background-color: #ffffff;
  font-family: 'FuturaPTCond-Book', sans-serif;
  font-size: 30px;
  line-height: calc(30px * 1.2);
  color: #606060;
}
@media (min-width: 1200px) {
  .hello-screen {
    padding: 0 125px;
    background-image: none;
  }
  .hello-screen__heading {
    padding-top: 30px;
    width: 660px;
    font-size: 90px;
    line-height: calc(90px * 1.2);
    text-align: right;
    float: right;
    clear: both;
  }
  .hello-screen__slogan {
    display: none;
  }
  .hello-screen__button {
    width: auto;
    margin-top: 50px;
    padding: 15px 40px;
    float: right;
    clear: both;
    font-size: 48px;
  }
}
.about-school {
  margin: 0;
  margin-top: 70px;
  padding: 0 20px;
}
.about-school__heading {
  margin: 0;
  padding: 0;
  font-family: 'Colville-Regular', sans-serif;
  font-size: 36px;
  line-height: calc(36px * 1.2);
  text-align: center;
}
.about-school__directions {
  margin: 0;
  padding: 0;
  font-family: 'Colville-Regular', sans-serif;
  font-size: 24px;
  line-height: calc(36px * 1.2);
  text-align: center;
}
.about-school__description br {
  display: none;
}
@media (min-width: 1200px) {
  .about-school {
    margin-top: 30px;
    padding: 0 125px;
  }
  .about-school__heading {
    font-size: 60px;
    line-height: calc(60px * 1.2);
    text-align: left;
  }
  .about-school__description {
    width: 600px;
    font-size: 22px;
    line-height: calc(22px * 1.2);
    text-align: left;
  }
  .about-school__directions {
    display: none;
  }
  .about-school__description br {
    display: block;
  }
}
.direction-list {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}
.direction-list__item {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 10px 10px 85px;
  width: 270px;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.8);
}
.direction-list__heading::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 10px;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
}
.direction-list__item--zen .direction-list__heading::before {
  background-image: url('../img/icon-1.svg');
}
.direction-list__item--therapy .direction-list__heading::before {
  background-image: url('../img/icon-2.svg');
}
.direction-list__item--classic .direction-list__heading::before {
  background-image: url('../img/icon-3.svg');
}
.direction-list__heading {
  margin: 0;
  padding: 0;
  font-family: 'Colville-Regular', sans-serif;
  font-size: 16px;
  line-height: calc(16px * 1.2);
}
.direction-list__description {
  margin: 5px 0;
  padding: 0;
}
.direction-list__button {
  margin: 0;
  padding: 5px 35px;
  width: 165px;
  box-sizing: border-box;
  font-family: 'Colville-Regular', sans-serif;
  font-size: 14px;
  line-height: calc(14px * 1.2);
  text-align: center;
  color: #ffffff;
  background-color: #186bc6;
}
@media (min-width: 1200px) {
  .direction-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .direction-list__item {
    width: 290px;
    margin: 0;
    padding: 130px 20px 20px 20px;
  }
  .direction-list__heading {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: calc(24px * 1.2);
    text-align: center;
  }
  .direction-list__description {
    margin-bottom: 35px;
    font-size: 22px;
    line-height: calc(22px * 1.2);
    text-align: center;
  }
  .direction-list__button {
    width: auto;
    padding: 15px 0;
    font-size: 21.5px;
    text-align: center;
  }
  .direction-list__heading::before {
    width: 90px;
    height: 90px;
    left: 100px;
  }
}
.about-teacher {
  margin: 0;
  margin-top: 110px;
  padding: 0;
}
.about-teacher__heading {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-family: 'Colville-Regular', sans-serif;
  font-size: 36px;
  line-height: calc(36px * 1.2);
  text-align: center;
}
.about-teacher__description {
  margin: 0;
  padding: 15px 20px 0 20px;
}
.about-teacher__description br {
  display: none;
}
.about-teacher__gallery {
  margin-top: 50px;
}
.about-teacher__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.about-teacher__wrapper-name {
  margin: 0;
  margin-left: 10px;
  padding: 0;
}
.about-teacher__surname {
  margin: 0;
  padding: 0;
  font-family: 'Colville-Medium', sans-serif;
  font-size: 18px;
  line-height: 18px;
}
.about-teacher__name {
  margin: 0;
  padding: 0;
  font-family: 'Colville-Medium', sans-serif;
  font-size: 44px;
  line-height: 44px;
}
.about-teacher__patronymic {
  margin: 0;
  padding: 0;
  font-family: 'Colville-Medium', sans-serif;
  font-size: 26px;
  line-height: 26px;
}
@media (min-width: 1200px) {
  .about-teacher {
    margin-top: 200px;
    padding: 0;
  }
  .about-teacher__heading {
    padding: 0 125px;
    font-size: 60px;
    line-height: calc(60px * 1.2);
    text-align: right;
  }
  .about-teacher__wrapper {
    position: relative;
    padding: 0 125px;
  }
  .about-teacher__photo {
    position: absolute;
    top: 0;
    right: 125px;
  }
  .about-teacher__wrapper-name {
    margin-left: 185px;
    margin-bottom: 100px;
  }
  .about-teacher__surname {
    font-size: 40px;
    line-height: 40px;
  }
  .about-teacher__name {
    font-size: 97px;
    line-height: 97px;
  }
  .about-teacher__patronymic {
    font-size: 57px;
    line-height: 57px;
  }
  .about-teacher__description {
    width: 475px;
    padding: 0;
    margin-left: 125px;
    font-size: 31px;
    line-height: calc(31px * 1.2);
    text-align: right;
  }
  .about-teacher__description br {
    display: block;
  }
  .about-teacher__gallery {
    margin-top: 160px;
  }
}
.photo-gallery {
  margin: 0;
  margin-top: 90px;
  padding: 0;
}
.photo-gallery__heading {
  margin: 0;
  padding: 0;
  font-family: 'Colville-Regular', sans-serif;
  font-size: 36px;
  line-height: calc(36px * 1.2);
  text-align: center;
}
.photo-gallery__description {
  margin: 0;
  margin-top: 15px;
  padding: 0 20px;
}
.photo-gallery__slider {
  margin-top: 80px;
  margin-bottom: 140px;
}
@media (min-width: 1200px) {
  .photo-gallery__heading {
    margin-bottom: 50px;
    font-size: 60px;
    line-height: calc(60px * 1.2);
  }
  .photo-gallery__description {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 22px;
    line-height: calc(22px * 1.2);
    text-align: center;
  }
  .photo-gallery__description br {
    display: none;
  }
  .photo-gallery__description--2 {
    width: 470px;
    margin-top: 30px;
  }
}
.free-lesson {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #9a9a9a;
}
.free-lesson__heading {
  margin: 0;
  padding: 0 20px;
  font-family: 'Colville-Regular', sans-serif;
  font-size: 36px;
  line-height: calc(36px * 1.2);
  text-align: center;
}
.free-lesson__form {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 85px;
  padding: 0;
  min-height: 405px;
  background-image: url('../img/background-image-form.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.free-lesson__item {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .free-lesson__heading {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: 60px;
    line-height: calc(60px * 1.2);
  }
  .free-lesson__form {
    width: 730px;
    height: 739px;
    margin: 0 auto;
    margin-bottom: 80px;
    background-image: url('../img/background_image.png');
    background-position: center;
  }
  .free-lesson__wrapper {
    width: 400px;
    margin: 0 auto;
    padding-top: 110px;
  }
  .free-lesson__label {
    color: #ffffff;
    font-size: 20px;
    line-height: calc(20px * 1.2);
    text-shadow: 1px 1px 0 #051431;
  }
  .free-lesson__input {
    padding: 10px;
    font-family: 'FuturaPTCond-Book', sans-serif;
    font-size: 30px;
    line-height: calc(30px * 1.2);
    color: #606060;
    border: none;
    opacity: 0.9;
  }
  .free-lesson__button {
    width: 400px;
    box-sizing: border-box;
    margin-top: calc(30px * 1.2);
    padding: 10px;
    font-family: 'FuturaPTCond-Book', sans-serif;
    font-size: 30px;
    line-height: calc(30px * 1.2);
    color: #606060;
    border: none;
  }
}
.page-footer {
  margin: 0;
  padding: 5px 20px 15px 20px;
  min-height: 175px;
  border-top: 1px solid #ffffff;
  background-color: #aaaaaa;
}
.page-footer__logo {
  display: block;
  margin: 0 auto;
  width: 185px;
  height: 60px;
}
.page-footer__contacts {
  color: #ffffff;
  text-align: center;
}
.page-footer__copyright {
  width: 65px;
  height: 30px;
  float: right;
}
@media (min-width: 1200px) {
  .page-footer {
    min-height: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 125px;
  }
  .page-footer hr {
    display: none;
  }
  .page-footer__logo {
    margin: 0;
    padding: 0;
    width: 290px;
    height: 90px;
  }
  .page-footer__contacts {
    font-size: 22px;
    line-height: calc(22px * 1.2);
  }
  .page-footer__copyright {
    width: 135px;
    height: 60px;
  }
}
