.page-footer {
  margin: 0;
  padding: 5px 20px 15px 20px;
  min-height: 175px;

  border-top: 1px solid #ffffff;

  background-color: #aaaaaa;
}

.page-footer hr {

}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  width: 185px;
  height: 60px;
}

.page-footer__contacts {
  color: #ffffff;
  text-align: center;
}

.page-footer__copyright {
  width: 65px;
  height: 30px;
  float: right;
}
